@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');




.manrope {
  font-family: "Manrope", sans-serif;
}



li{
  padding: 20px;
  line-height: 1.9;
  background: rgb(231, 229, 229);
  border-radius: 30px;
  margin: 20px;
  text-align: center;
  /* font-size: 15px; */
  color: rgb(26, 25, 25);
}
        

